
body
{
    padding-top: 150px;
    background-color: #eee;
}

.navbar-nav
{
    color: #eee;
    float: right;
    margin: 0px;
    padding-top: 30px;
    height: 80px;
}

.navbar-inverse .navbar-nav > li > a
{
    color: #ccc;
}

.navbar-inverse .navbar-nav > li > a :hover
{
    color: #eee;
}

.btn-primary
{
    color: #ccc;
    background-color: #222;
    border-color: #111;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
{
  color: #eee;
  background-color: #111;
  border-color: #111;
}

footer
{
    padding: 30px 0;
    margin-top: 200px;
}

@media(min-width:768px)
{
    body
    {
        padding-top: 150px;
    }
    .navbar-fixed-top .navbar-brand
    {
        padding: 0;
    }
}